.kereses{
    display: flex;
    align-items: center;
    height: 100%;
}
.close{
    display: flex;
    align-items: center;
    height: 100%;
}
.holder{
    display: flex;
    align-items: center;
    height: 100%;
}
.loginregisterpanel{
    margin-top: 80px;
}

