.kereses{
    display: flex;
    align-items: center;
    height: 100%;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}
.holder{
    position: relative;
    display: block;
}
