.kereses{
    display: flex;
    align-items: center;
    height: 100%;
}
.close{
    display: flex;
    align-items: center;
    height: 100%;
}
.holder{
    display: flex;
    align-items: center;
    height: 100%;
}
.loginregisterpanel{
    margin-top: 90px;
}
.icons{
    height: 50px;
    
}
.fa-solid:hover{
    cursor: pointer;
}
.fa-solid{
    margin-left: 10px;
}
.profilkep{
    animation-delay: 5000ms;
    transform: scaleX(1);
    transform-origin: bottom left;
    height: 300px;
    width: 300px;
}
.file-drop-holder{
    align-items: center;
    text-align: center;
    
}
.kep2{
    margin-bottom: 100px;
}
.color-nav{
    background-color: rgba(0,216,90,255);
    box-shadow: 1px 2px 90px green;
}
.cimsor{
    background-color: rgba(0,216,90,255);
    
    
}